<!DOCTYPE html>
<html>
  <head>
	<!-- downloading the info that is need for the page to work -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>{{title}}</title>

  </head>
  <body>

    {{{body}}}

    {{>navigation}}

  </body>
</html>